<h2>Вы вошли как Администратор</h2>

<form action="/admin_page" method="POST" role="form">

  

  <div class="form-group">
    <label>Выберите действие</label>
      <select name="choose" class="form-control">
        <option>Посмотреть список клиентов</option>
        <option>Посмотреть обращения клиентов</option>
      </select>
  </div>

  <button type="submit" class="btn btn-primary">ОК</button>

</form>
